.back{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.link{
    color: #000;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.container1{
    background-color: #fff;
    color: #000;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 14px 0;
    font-weight: bold;
}

.active-link{
    color: var(--color-active);
    cursor: default;
    color: rgba(56, 115, 182, 0.815);
    border-bottom: 2px solid rgba(56, 115, 182, 0.815);
}